body{
	width: 99%;
	height: 2200px;
	border: solid;
	background-color:black;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 95%;
	border: solid;
}
.logo{
	width: 15%;
	height: 110px;
	border: solid;
	margin-left: 120px;
	margin-bottom: 40px;

}
.menu{
	width: 50%;
	height: 80px;
	border: solid;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.im{
	width: 100%;
	height: 150px;
}
.a{
	width: 14%;
	height: 75px;
	margin-bottom: -70px;
    font-family: Open Sans;
    font-weight: bold;
}
a{
	color: white;
	text-decoration: none;
}
.b{
	width: 19%;
	height: 75px;
	color: white;
	margin-bottom: -70px;
	font-family: Open Sans;
    font-weight: bold;
    color: #E6E9EE;
}
aside{
	width: 98%;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.A1{
	width: 50%;
	height: 250px;
	display: flex;
	justify-content: space-around;
}
.A2{
	border: 1px solid;
	width: 50%;
	height: 250px;
	display: flex;
	justify-content: space-around;
}
.a1{
	width: 45%;
	height: 190px;
	
}
.a2{
	width: 45%;
	height: 190px;
}
.img1{
	width: 98%;
	height: 230px;
	background: url(Accueil.jpg);
	border-radius: 50px 0px;
}
.img2{
	width: 98%;
	height: 230px;
	background: url(ima.jpg);
	border-radius: 0px 50px;
}
.titre1{
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
}
.texte1{
	width: 90%;
	height: 130px;
}
.stytexte{
	font-family: Open Sans;
	color: #E6E9EE
}
.stytitre{
	font-family: Tenor Sans;
	color: #E6E9EE
}
.titre2{
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
}
.texte2{
	width: 90%;
	height: 130px;
}
.dos{
	width: 99%;
	height: 40px;
	display: flex;
	justify-content: center;
}
.dos1{
	height: 50px;
	width: 40%;
	border-radius: 30px;
	color: #E6E9EE;
	font-family: Tenor Sans;
	margin-top: 10px;
}
.B{
	width: 98%;
	height: 700px;
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
.C{
	width: 42%;
	height: 300px;
	
}
.img3{
	width: 100%;
	height: 300px;
}
.contact{
	width: 90%;
	height: 550px;
	margin-top: 40px;
	margin-left: 48px;
	background-color: #E6E9EE
}
#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 500%;
	height: 300px;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	float: left;
	width: 20%;
	height: 300px;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
.container{
	
	
}
.CADR{
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-top: 2130px;
	border-radius: 50%;
	margin-top: 198%;
}
input{
	position: relative;
	display: inline-block;
	font-size: 20px;
	transition: .5s;
}
.bas{
	width: 89%;
	height: 100px;
	margin-top: 65px;
	display: flex;
	justify-content: space-between;
	margin-left: 65px;
}
.cop{
	width: 25%;
	height: 50px;
	margin-top: 8%;
	font-family: Tenor Sans;
	color: #E6E9EE
}
.RS{
	width: 55%;
	height: 50px;
	margin-top: 55px;

}
ul{
	display: flex;
	justify-content: center;
}
li{
	margin: 20px;
	height: 20px;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #E6E9EE;
	box-shadow: inset 12px 12px 34px #d4d6db, inset -12px -12px 34px #f8fcff;
	cursor: pointer;
}
li:nth-child(1) i{
	color: #0080f7;
}
li:nth-child(2) i{
	color: #00acee;
}
li:nth-child(3) i{
	color: #0077b5;
}
li:nth-child(4) i{
	color: #dd2a7b;
}
i{
	font-size: 15px;
}
.adress{
	width: 80%;
	height: 150px;
	margin-left: 110px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.ad1{
	width: 25%;
	height: 120px;
	border-radius: 80px 0px 80px 0px;
	background-color: black;
	display: flex;
	justify-content: center;
}
.tad1{
	width: 50%;
	height: 20px;
	color: white;
	margin-top: 10px;
}
.boit{
	height: 20px;
	width: 140%;
	margin-left: -35px;
}
